* {
  margin: 0;
}

header,
footer {
  background-color: green;
}

footer,
.push {
  height: 100px;
}

main {
  min-height: 100vh;
  margin-bottom: 100px;
}

nav,
ul,
a {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 20px;
}

nav {
  display: flex;
  padding: 5px;
  margin: 2px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-decoration: none;
  background-color: palevioletred;
}

.flower1 {
  width: auto;
  height: 900px;
  border: 1px solid grey;
  margin: 0;
  background-color: red;
  background-image: url("/img/web2.png");
  display: none;
}

body {
  background-image: url("/img/web2.png");
  background-repeat: no-repeat;
}

.flowers {
  width: auto;
  height: 900px;
  border: 1px solid grey;
  margin: 0;
  background-color: red;
  background-image: url("/img/bloem.png");
  display: none;
}

/* Button listen*/
.btn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: 300px;
  transition: al 0.4s ease;
  background: pink;
  color: black;
  border: 1px solid white;
  margin: 3px;
}

.boxvideo1 {
  width: 100px;
  height: 70px;
  padding: 10px;
  margin: 0;
  background-color: lightpink;
  border: 5px solid white;
}

.boxvideo2 {
  width: 100px;
  height: 70px;
  padding: 10px;
  margin: 0;
  background-color: lightpink;
  border: 5px solid white;
  float: left;
}

img {
  width: 30%;
  height: 100px;
  /* with this you can cover your image full stretch */
  object-fit: cover;
  opacity: 1;
}
